.budget-calculator {
  font-family: 'Krub', sans-serif;
  width: 600px;
  margin: 24px auto;
  background: #fff;
  box-shadow: 0 12px 50px -11px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  color: #14213d;
  overflow: hidden;
}

.budget-calculator .top {
  background: #14213d;
  color: #fff;
  padding: 32px;
}

.budget-calculator .top .top-inputs {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.top-inputs .inputBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.top-inputs .inputBox label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}
.result {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
}
.result p {
  font-size: 20px;
}
.result p span {
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 650px) {
  .budget-calculator {
    width: 90%;
    max-width: 500px;
  }

  .budget-calculator .result {
    flex-direction: column;
    text-align: center;
  }
}
